<!DOCTYPE html>
<html lang="en">

<head>
    {{template "general/header"}}
</head>

<body>
    <div
        class="flex flex-col h-screen w-screen bg-gradient-to-br from-zinc-600 to-slate-900 items-center justify-center text-white">
        <div class="flex flex-col items-center">
            <h1 class="text-4xl antialiased">Welcome to kanban app</h1>
        </div>
        <div class="h-8"></div>
        <div class="flex flex-row">
            <button class="bg-red-700 hover:bg-red-900 py-2.5 px-4 rounded-md">
                <a href="/login" class="text-xl">Login</a>
            </button>
            <div class="w-12"></div>
            <button class="bg-blue-700 hover:bg-blue-900 py-2.5 px-4 rounded-md">
                <a href="/register" class="text-xl">Register</a>
            </button>
        </div>
    </div>
</body>

</html>